* {
 font-family: Arial, sans-serif;
}
.quicklinks, .rdfclasses, .rdfproperties, .rdfborrowed {
 margin: 2em 0 0 0;
 float: left;
 width: 100%;
}
.quicklinks span {
 padding: 0 0.5em 0 0;
}
.quicklinks h2 {
 margin-bottom: 0.5em;
}
.rdfclass, .rdfproperty {
 margin: 1em 0 0 2em;
 width: 40.1em;
 clear: both;
 float: left;
 border: 1px solid #d6d9ff;
}
h1, h2, h3, dl, dt, hr {
 clear: both;
}
h2 {
 margin: 0;
}
h3 {
 margin: 0;
 background: #d6d9ff;
}
dl {
 width: 100%;
 margin: 0;
 padding: 0;
}
dt {
 width: 5em;
 float: left;
 margin: 0 0 0 0;
 padding: .25em;
}
dd {
 float: left;
 width: 32em;
 margin: 0 0 0 0;
 padding: .25em;
}
p {
 margin: 0;
 padding: 0 0 0.5em 0;
}